_notes/
archives/
*.map
*.sublime-project
*.sublime-workspace
emailTemplates/
*google*
*.DS_Store
indexfiles/
sftp-config.json
*.codekit
*.htm
index_files/
.idea/*.xml
.idea/*.iml
PHPMailer/
.idea/.name
.gitignore
*.JPG
*.pub
*.icns
*.ico
*.xml
*.pdf